# Spaceship Titanic

### ğŸš£â€â™‚ï¸ëª©ì  
ìš°ì£¼ì„  íƒ€ì´íƒ€ë‹‰ ì–´ë–¤ ìŠ¹ê°ì´ ë‹¤ë¥¸ ì°¨ì›ìœ¼ë¡œ ì´ë™í• ì§€ ì˜ˆì¸¡

</br>

### ğŸ§©íŠ¹ì§• 
ìš°ì£¼ ë¯¸ìŠ¤í„°ë¦¬ë¥¼ í’€ê¸° ìœ„í•´ ì—¬ëŸ¬ë¶„ì˜ ë°ì´í„° ê³¼í•™ ê¸°ìˆ ì´ í•„ìš”í•œ 2912ë…„ì— ì˜¤ì‹  ê²ƒì„ í™˜ì˜í•©ë‹ˆë‹¤.  
4ê´‘ë…„ ë–¨ì–´ì§„ ê³³ì—ì„œ ì „ì†¡ì´ ì™”ëŠ”ë° ìƒí™©ì´ ì¢‹ì§€ ì•Šì•„ìš”

ìš°ì£¼ì„  íƒ€ì´íƒ€ë‹‰ì€ í•œ ë‹¬ ì „ì— ë°œì‚¬ëœ ì„±ê°„ ì—¬ê°ì„ ì…ë‹ˆë‹¤.  
ê±°ì˜ 13,000ëª…ì˜ ìŠ¹ê°ì„ íƒœìš´ ì´ ë°°ëŠ” íƒœì–‘ê³„ì—ì„œ ì˜¨ ì´ë¯¼ìë“¤ì„  
ê·¼ì²˜ì˜ ë³„ ì£¼ìœ„ë¥¼ ë„ëŠ” ì„¸ ê°œì˜ ìƒˆë¡œì´ ê±°ì£¼í•  ìˆ˜ ìˆëŠ” ì™¸ê³„ í–‰ì„±ìœ¼ë¡œ ì‹¤ì–´ ë‚˜ë¥´ëŠ” ì²˜ë…€ í•­í•´ë¥¼ ì‹œì‘í–ˆìŠµë‹ˆë‹¤.

ì²« ë²ˆì§¸ ëª©ì ì§€ì¸ 55í˜¸ ì•”í¬ë¦¬ Eë¡œ ì•ŒíŒŒ ì„¼íƒ€ìš°ë¦¬ë¥¼ ë„ëŠ” ë™ì•ˆ,  
ì¡°ì‹¬ì„±ì´ ì—†ëŠ” ìš°ì£¼ì„  íƒ€ì´íƒ€ë‹‰ì€ ë¨¼ì§€ êµ¬ë¦„ ì†ì— ìˆ¨ê²¨ì§„ ì‹œê³µê°„ ë³€ì¹™ê³¼ ì¶©ëŒí–ˆìŠµë‹ˆë‹¤.  
ì•ˆíƒ€ê¹ê²Œë„, ê·¸ê²ƒì€ 1000ë…„ ì „ì˜ ì´ë¦„ê³¼ ë¹„ìŠ·í•œ ìš´ëª…ì„ ë§Œë‚¬ìŠµë‹ˆë‹¤. ë¹„ë¡ ê·¸ ë°°ëŠ” ì˜¨ì „í•˜ê²Œ ìœ ì§€ë˜ì—ˆì§€ë§Œ,  
ê±°ì˜ ì ˆë°˜ì˜ ìŠ¹ê°ë“¤ì€ ë‹¤ë¥¸ ì°¨ì›ìœ¼ë¡œ ì˜®ê²¨ì¡ŒìŠµë‹ˆë‹¤!  

ìŠ¹ë¬´ì›ì„ êµ¬ì¡°í•˜ê³  ìƒì–´ë²„ë¦° ìŠ¹ê°ì„ ë˜ì°¾ëŠ” ê²ƒì„ ë•ê¸° ìœ„í•´,  
ì—¬ëŸ¬ë¶„ì€ ìš°ì£¼ì„ ì˜ ì†ìƒëœ ì»´í“¨í„° ì‹œìŠ¤í…œì—ì„œ ë³µêµ¬ëœ ê¸°ë¡ì„ ì‚¬ìš©í•˜ì—¬  
ì–´ë–¤ ìŠ¹ê°ë“¤ì´ ì´ìƒ í˜„ìƒì— ì˜í•´ ì´ì†¡ë˜ì—ˆëŠ”ì§€ ì˜ˆì¸¡í•´ì•¼ í•©ë‹ˆë‹¤.

ê·¸ë“¤ì„ êµ¬í•˜ê³  ì—­ì‚¬ë¥¼ ë°”ê¾¸ë„ë¡ ë„ì™€ì£¼ì„¸ìš”!

</br>

### ğŸ“”ì½”ë“œë¶
`train.csv` - ìŠ¹ê°ì˜ ì•½ 3ë¶„ì˜ 2(~8700)ì— ëŒ€í•œ ê°œì¸ ê¸°ë¡
- `PassengerId` - ê° ìŠ¹ê°ì˜ ê³ ìœ  ID. ê° IdëŠ” ggg_pp í˜•ì‹ì„ ì·¨í•¨  
    - gggg: ìŠ¹ê°ê³¼ í•¨ê»˜ ì—¬í–‰í•˜ëŠ” ê·¸ë£¹  
    - pp: ê·¸ë£¹ ë‚´ ìŠ¹ê°ì˜ ë²ˆí˜¸  
    - ê·¸ë£¹ì˜ ì‚¬ëŒë“¤ì€ ê°€ì¡± êµ¬ì„±ì› ë˜ëŠ” ì•„ë‹ ìˆ˜ ìˆìŒ
- `HomePlanet` - ìŠ¹ê°ì´ ì¶œë°œí•œ í–‰ì„±, ì¼ë°˜ì ìœ¼ë¡œ ì˜êµ¬ ê±°ì£¼ì§€ì˜ í–‰ì„± 
- `CryoSleep` - ìŠ¹ê°ì´ í•­í•´ ì¤‘ ê°€ì‚¬ìƒíƒœë¡œ ì„ ì¶œë˜ì—ˆëŠ”ì§€ ì—¬ë¶€
    - ê·¹ì €ì˜¨ ìˆ˜ë©´ ì¤‘ì¸ ìŠ¹ê°ë“¤ì€ ê°ì‹¤ì— ê°‡í˜€ ìˆìŒ 
- `Cabin` - ê°ì‹¤ ë²ˆí˜¸(deck/num/side)
    - side: Portì˜ ê²½ìš° P, Starboardì˜ ê²½ìš° S
- `Destination` - ìŠ¹ê°ì´ ë‚´ë¦´ í–‰ì„ ì§€
- `Age` - ìŠ¹ê°ì˜ ì—°ë ¹
- `VIP` - ìŠ¹ê°ì´ í•­í•´ ì¤‘ íŠ¹ë³„ VIP ì„œë¹„ìŠ¤ ë¹„ìš©ì„ ì§€ë¶ˆí–ˆëŠ”ì§€ ì—¬ë¶€
- `RoomService`, `FoodCourt`, `ShoppingMall`, `Spa`, `VRDeck` - ìŠ¹ê°ë“¤ì´ ìš°ì£¼ì„  íƒ€ì´íƒ€ë‹‰ì˜ ë§ì€ ê³ ê¸‰ í¸ì˜ì‹œì„¤ ê°ê°ì— ì²­êµ¬í•œ ê¸ˆì•¡
- `Name` - ìŠ¹ê°ì˜ ì´ë¦„
- `Transported` - ìŠ¹ê°ì´ ë‹¤ë¥¸ ì°¨ì›ìœ¼ë¡œ ìš´ì†¡ë˜ì—ˆëŠ”ì§€ ì—¬ë¶€, targetê°’

`test.csv` - ë‚¨ì€ ìŠ¹ê°ì˜ 1/3(ì•½ 4300ëª…)ì— ëŒ€í•œ ê°œì¸ ê¸°ë¡
    - ìŠ¹ê°ì— ëŒ€í•œ Transported ê°’ì„ ì˜ˆì¸¡ 


[ì¶œì²˜] <a href="https://www.kaggle.com/competitions/spaceship-titanic/overview/description">Spaceship Titanic</a>

# Step 1. Imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots


from sklearn.impute import SimpleImputer  # ê²°ì¸¡ì¹˜ ëŒ€ì²´
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold, train_test_split


from lightgbm import LGBMClassifier

import time
import warnings
warnings.filterwarnings('ignore')

# Step 2. Data Loading and Preperation

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
submission = pd.read_csv('data/sample_submission.csv')

RANDOM_STATE = 12
FOLDS = 5
STRATEGE = 'median'

## Exploring Train Data
* 14ê°œì˜ ì—´ê³¼ 8693ê°œì˜ í–‰ì´ë‹¤.
* 2324ê°œì˜ ê²°ì¸¡ê°’ì„ í¬í•¨í•œ 119378ê°œì˜ ê´€ì¸¡ê°’ì´ ìˆë‹¤.
* 12ê°œì˜ ì—´ì€ ëª¨ë‘ ê²°ì¸¡ê°’ì´ ìˆê³  CryoSleepì´ ê²°ì¸¡ê°’ì€ 217ê°œë¡œ ê°€ì¥ ë§ë‹¤.
* TransportedëŠ” train datasetì—ë§Œ ìˆëŠ” targetì´ë‹¤.

### Quick View of Train Data 
Below are the first 5 rows of train dataset:

In [3]:
display(train.head())
print(f"\33[92mtrain dataì˜ í–‰ ê°œìˆ˜: {train.shape[0]}")
print(f"train dataì˜ ì—´ ê°œìˆ˜: {train.shape[1]}")
print(f"train dataì˜ ê´€ì¸¡ê°’: {train.count().sum()}")
print(f"train dataì˜ ê²°ì¸¡ê°’: {train.isna().sum().sum()}")

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

train dataì˜ í–‰ ê°œìˆ˜: 8693
train dataì˜ ì—´ ê°œìˆ˜: 14
train dataì˜ ê´€ì¸¡ê°’: 119378
train dataì˜ ê²°ì¸¡ê°’: 2324

Column Wise missing values :

In [4]:
print(f'\33[92m')
print(train.isna().sum().sort_values(ascending = False))

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
PassengerId       0
Transported       0
dtype: int64

Basic statistics of training data:

In [5]:
train.describe().T

               count        mean          std  min   25%   50%   75%      max
Age           8514.0   28.827930    14.489021  0.0  19.0  27.0  38.0     79.0
RoomService   8512.0  224.687617   666.717663  0.0   0.0   0.0  47.0  14327.0
FoodCourt     8510.0  458.077203  1611.489240  0.0   0.0   0.0  76.0  29813.0
ShoppingMall  8485.0  173.729169   604.696458  0.0   0.0   0.0  27.0  23492.0
Spa           8510.0  311.138778  1136.705535  0.0   0.0   0.0  59.0  22408.0
VRDeck        8505.0  304.854791  1145.717189  0.0   0.0   0.0  46.0  24133.0

## Exploring Test Data
### Quick View of Test Data 
Below are the first 5 rows of test dataset:

In [6]:
display(test.head())
print(f"\33[92mtest dataì˜ í–‰ ê°œìˆ˜: {test.shape[0]}")
print(f"test dataì˜ ì—´ ê°œìˆ˜: {test.shape[1]}")
print(f"test dataì˜ ê´€ì¸¡ê°’: {test.count().sum()}")
print(f"test dataì˜ ê²°ì¸¡ê°’: {test.isna().sum().sum()}")

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

test dataì˜ í–‰ ê°œìˆ˜: 4277
test dataì˜ ì—´ ê°œìˆ˜: 13
test dataì˜ ê´€ì¸¡ê°’: 54484
test dataì˜ ê²°ì¸¡ê°’: 1117

Column Wise missing values :

In [7]:
print(f'\33[92m')
print(test.isna().sum().sort_values(ascending = False))

FoodCourt       106
Spa             101
Cabin           100
ShoppingMall     98
Name             94
CryoSleep        93
VIP              93
Destination      92
Age              91
HomePlanet       87
RoomService      82
VRDeck           80
PassengerId       0
dtype: int64

Basic statistics of training data:

In [8]:
test.describe().T

               count        mean          std  min   25%   50%   75%      max
Age           4186.0   28.658146    14.179072  0.0  19.0  26.0  37.0     79.0
RoomService   4195.0  219.266269   607.011289  0.0   0.0   0.0  53.0  11567.0
FoodCourt     4171.0  439.484296  1527.663045  0.0   0.0   0.0  78.0  25273.0
ShoppingMall  4179.0  177.295525   560.821123  0.0   0.0   0.0  33.0   8292.0
Spa           4176.0  303.052443  1117.186015  0.0   0.0   0.0  50.0  19844.0
VRDeck        4197.0  310.710031  1246.994742  0.0   0.0   0.0  36.0  22272.0

### Quick View of Submission Data

In [9]:
submission.head()

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

# Step 3. EDA

# Step 4. Data Pre-Processing

# Step 5. Modeling

# Step 6. Submission